
.text_red {
    color: rgb(248, 83, 83);
    font-weight:bold;
}

.text_green {
    color: rgba(0, 204, 119, 0.911);
    font-weight:bold;
}

.text_yello {
    color: rgb(236, 183, 6);
    font-weight:bold;
}

.text_blue {
    color: rgb(88, 121, 209);
    font-weight:bold;
}

.text_purple {
    color: rgb(218, 13, 245);
    font-weight:bold;
}

