.scroll_X{
    width: 100%;
    //overflow-x: scroll;
   overflow-x: auto;
}
.hidden{
    visibility:hidden;
}

.list-group-item-action{
	cursor: pointer;
}
.chip-clse{
	font-size: 1rem;
	margin-left: 0.5rem;
}
.chip {
	display:inline-flex;
	align-items: center;
	margin-top: 0.25rem;
}

.chip-close:hover{
	cursor: pointer;
	color: rgb(245, 152, 152);
}
.text_red {
    color: rgb(255, 102, 102);
    font-weight:bold;
}

.text_blue {
    color: rgb(24, 63, 161);
    font-weight:bold;
}
hr { border-left: 0; }
hr.style1{
	border-top: 1px solid #8c8b8b;
}
hr.style4 {
	border-top: 1px dotted #8c8b8b;
}


hr.style17 {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr.style17:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -14px;
	padding: 0 10px;
	background: #f0f0f0;
	color: #8c8b8b;
	font-size: 18px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

hr.style19 {
    border-top: 2px solid #000;
    margin-top: -1px; 
    margin-bottom: 1px; 
  }
 

  .header .title {
	font-size: 18px;
	font-weight: bold;
  }

  
  .address {
	white-space: normal;
	overflow-wrap: break-word;
	word-break: break-word;
	font-size: 16px;
	margin-bottom: 4px;
  }


@media print {
	.body {
			margin-top: 6px;
			margin-left: 6px;
			margin-right: 6px;
		  }
  
	.page {
	  width: 6in;
	  height: 3in;
	  page-break-after: always;
	}
  }


.barcode-zone {
	display: flex;
	justify-content: flex-end;   
	//align-items: center;
	//gap: 3px;
  
	padding-right: 2px;        
	box-sizing: border-box;
  }
  
  .info {
	font-size: 16px;
	margin-top: 4px;
  }

  .right-info {
	margin-top: 4px;
	font-size: 16px;
	text-align: left;
	line-height: 1.5;
	white-space: nowrap;
  }

  .bill-no {
	font-size: 18px;  
	font-weight: bold;
	letter-spacing: 0.5px;
  }
  
  .box-no {
	font-size: 35px;
	font-weight: bold;
  
	min-height: 80px;     
	display: flex;
	align-items: center;     
	//justify-content: flex-end;
  
	line-height: 1;
  }

  .box-no-13 {
	font-size: 40px;
	font-weight: bold;
  
	min-height: 80px;     
	display: flex;
	align-items: center;     
	//justify-content: flex-end;
  
	line-height: 1;
  }
  
  .transport-id {
	font-size: 55px;
	font-weight: bold;
	line-height: 1;
	margin-top: 4px;
  }
  
  .transport-name {
	margin-top: 2px;
	font-size: 16px;
  }
  
 
  