.sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .sidebar-footer {
    margin-top: auto;
    padding: 10px;
    background-color: #343a40; /* สีพื้นหลัง */
    color: #fff;
    font-size: 0.75rem;
  }
  