.card-body {
    max-height: 400px;  /* กำหนดความสูงของตาราง */
    overflow-y: auto;   /* ให้มี Scroll แนวตั้ง */
  }
  
  .table-responsive {
    width: 100%;
    max-height: 700px;  /* กำหนดความสูงของตาราง */
    overflow-y: auto;   /* ให้มี Scroll แนวตั้ง */
    flex: 1;
  }

  .table-responsive.fullscreen {
    //max-height: 100vh;   /* จำกัดความสูงตามขนาดจอ */
    //height: auto;        /* สูงอัตโนมัติตามเนื้อหา */
    max-height: calc(100vh - 50px); /* ลบความสูง header 60px */
    overflow-y: auto;    /* ให้ scroll ได้ */
  }
  
  .fixed-header-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .fixed-header-table thead {
    position: sticky;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9); /* เปลี่ยนสีให้ทึบขึ้น */
    color: white; 
    z-index: 100; /* ให้ header อยู่ด้านบนสุด */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* เพิ่มเงาเพื่อแยกจากข้อมูลด้านล่าง */
  }
  
  .fixed-header-table th, .fixed-header-table td {
    padding: 4px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .fixed-header-table tbody tr:nth-child(even) {
    background-color: #ffffff;
  }

  .center-text {
    text-align: center;
  }
  
  .text-danger {
    color: red;
    font-weight: bold;
    font-size: 20px;
  }

  .row-danger {
    background-color: #ffcccc !important;  /* สีพื้นหลังแดงอ่อน */
    color: red !important;  /* ตัวหนังสือสีแดง */
    font-weight: bold;
  }
  
  .brand-text {
    font-size: 14px; /* ปรับขนาดตัวอักษร */
    color: gray; /* สีเทา (สามารถเปลี่ยนได้) */
  }

  .form-check-input {
    margin: 5 auto; /* จัดให้อยู่กลาง */
    display: block;
  }

  .custom-checkbox {
    width: 18px;  /* ปรับขนาดกว้าง */
    height: 18px; /* ปรับขนาดสูง */
  }
  


  .info-box-container {
    width: 19%; /* แบ่งเป็น 5 คอลัมน์ */
  }
  @media (max-width: 768px) {
    .info-box-container {
      width: 48%; /* บนจอเล็ก จะแสดง 2 คอลัมน์ */
    }
  }
  @media (max-width: 576px) {
    .info-box-container {
      width: 100%; /* บนมือถือให้เต็มจอ */
    }
  }

  .fixed-header-table th, .fixed-header-table td {
    padding: 8px;
    border: 1px solid #ddd;
    white-space: nowrap;
  }
  
  .fixed-header-table td input[type="checkbox"] {
    margin: 0 auto;
    display: block;
  }
  
  .loading-spinner {
    position: fixed;      /* ลอยอยู่บนสุด */
    top: 50%;
    left: 50%;
    transform: translate(-20%, -80%); /* จัดให้อยู่กึ่งกลางจอ */
    z-index: 1050;        /* ให้อยู่บนสุดเหนือ element อื่น */
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2rem;
  }
  